{% extends 'layout.html' %}
{% block content %}
<main id="main-contents" class="col-xs-12 col-sm-12 col-md-8">
    <section id="content" class="test">
       <div class="clearfix wrap-content">
         
          <div class="halim-movie-wrapper">
             <div class="title-block">
                <div id="bookmark" class="bookmark-img-animation primary_ribbon" data-id="38424">
                   <div class="halim-pulse-ring"></div>
                </div>
                <div class="title-wrapper" style="font-weight: bold;">
                   Bookmark
                </div>
             </div>
             <div class="movie_info col-xs-12">
                <div class="movie-poster col-md-3">
                   <img class="movie-thumb" src="/img/avatar2.jpeg" alt="Avatar: The Way of Water">
                   <div class="bwa-content">
                      <div class="loader"></div>
                      <a href="xemphim.html" class="bwac-btn">
                      <i class="fa fa-play"></i>
                      </a>
                   </div>
                </div>
                <div class="film-poster col-md-9">
                   <h1 class="movie-title title-1" style="display:block;line-height:35px;margin-bottom: -14px;color: #ffed4d;text-transform: uppercase;font-size: 18px;">Avatar: The Way of Water</h1>
                   <h2 class="movie-title title-2" style="font-size: 12px;"></h2>
                   <ul class="list-info-group">
                      <li class="list-info-group-item"><span>Trạng Thái</span> : <span class="quality">HD</span><span class="episode">Vietsub</span></li>
                      <li class="list-info-group-item"><span>Rating</span> : <span class="imdb">4.3/5</span></li>
                      <li class="list-info-group-item"><span>Thời lượng</span> : 192 Phút</li>
                      <li class="list-info-group-item"><span>Thể loại</span> : <a href="" rel="category tag">Chiếu Rạp</a>, <a href="" rel="category tag">Hành động</a>, <a href="" rel="category tag">Phiêu Lưu</a>, <a href="" rel="category tag">Viễn Tưởng</a></li>
                      <li class="list-info-group-item"><span>Quốc gia</span> : <a href="" rel="tag">Mỹ</a></li>
                      <li class="list-info-group-item"><span>Đạo diễn</span> : <a class="director" rel="nofollow" href="https://phimhay.co/dao-dien/cate-shortland" title="James Cameron">James Cameron</a></li>
                      <li class="list-info-group-item last-item" style="-overflow: hidden;-display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-flex: 1;-webkit-box-orient: vertical;"><span>Diễn viên</span> : <a href="" rel="nofollow" title="Sam Worthington">Sam Worthington</a>, <a href="" rel="nofollow" title="Zoe Saldaña">Zoe Saldaña</a>, <a href="" rel="nofollow" title="Stephen Lang">Stephen Lang</a>, <a href="" rel="nofollow" title="Sigourney Weaver">Sigourney Weaver</a>, <a href="" rel="nofollow" title="Kate Winslet">Kate Winslet</a></li>
                   </ul>
                   <div class="movie-trailer hidden"></div>
                </div>
             </div>
          </div>
          <div class="clearfix"></div>
          <div id="halim_trailer"></div>
          <div class="clearfix"></div>
          <div class="section-bar clearfix">
             <h2 class="section-title"><span style="color:#ffed4d">Nội dung phim</span></h2>
          </div>
          <div class="entry-content htmlwrap clearfix">
             <div class="video-item halim-entry-box">
                <article id="post-38424" class="item-content">
                   Phim <a href="https://phimhay.co/goa-phu-den-38424/">Avatar: The Way of Water</a> - 2022 - Mỹ:
                   <p>Avatar: The Way of Water &#8211; Jake Sully sống với gia đình mới thành lập của mình được thành lập trên mặt trăng ngoài hệ mặt trời Pandora. Khi một mối đe dọa quen thuộc quay trở lại để hoàn thành những gì đã bắt đầu trước đó, Jake phải hợp tác với Neytiri và đội quân của chủng tộc Na’vi để bảo vệ ngôi nhà của họ.</p>
                   <h5>Từ Khoá Tìm Kiếm:</h5>
                   <ul>
                      <li>Avatar: The Way of Water vietsub</li>
                      <li>avatar: the ưay of ưater 2022 vietsub</li>
                      <li>phim avatar 2022</li>
                      <li>xem phim avatar 2</li>
                      
                   </ul>
                </article>
             </div>
          </div>
       </div>
    </section>
    <section class="related-movies">
       <div id="halim_related_movies-2xx" class="wrap-slider">
          <div class="section-bar clearfix">
             <h3 class="section-title"><span>CÓ THỂ BẠN MUỐN XEM</span></h3>
          </div>
          <div id="halim_related_movies-2" class="owl-carousel owl-theme related-film">
             <article class="thumb grid-item post-38498">
                <div class="halim-item">
                   <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                      <figure><img class="lazy img-responsive" src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg" alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                      <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                      <div class="icon_overlay"></div>
                      <div class="halim-post-title-box">
                         <div class="halim-post-title ">
                            <p class="entry-title">Đại Thánh Vô Song</p>
                            <p class="original_title">Monkey King: The One And Only</p>
                         </div>
                      </div>
                   </a>
                </div>
             </article>
               <article class="thumb grid-item post-38498">
                <div class="halim-item">
                   <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                      <figure><img class="lazy img-responsive" src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg" alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                      <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                      <div class="icon_overlay"></div>
                      <div class="halim-post-title-box">
                         <div class="halim-post-title ">
                            <p class="entry-title">Đại Thánh Vô Song</p>
                            <p class="original_title">Monkey King: The One And Only</p>
                         </div>
                      </div>
                   </a>
                </div>
             </article>
               <article class="thumb grid-item post-38498">
                <div class="halim-item">
                   <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                      <figure><img class="lazy img-responsive" src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg" alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                      <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                      <div class="icon_overlay"></div>
                      <div class="halim-post-title-box">
                         <div class="halim-post-title ">
                            <p class="entry-title">Đại Thánh Vô Song</p>
                            <p class="original_title">Monkey King: The One And Only</p>
                         </div>
                      </div>
                   </a>
                </div>
             </article>
               <article class="thumb grid-item post-38498">
                <div class="halim-item">
                   <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                      <figure><img class="lazy img-responsive" src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg" alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                      <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                      <div class="icon_overlay"></div>
                      <div class="halim-post-title-box">
                         <div class="halim-post-title ">
                            <p class="entry-title">Đại Thánh Vô Song</p>
                            <p class="original_title">Monkey King: The One And Only</p>
                         </div>
                      </div>
                   </a>
                </div>
             </article>
               <article class="thumb grid-item post-38498">
                <div class="halim-item">
                   <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                      <figure><img class="lazy img-responsive" src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg" alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                      <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                      <div class="icon_overlay"></div>
                      <div class="halim-post-title-box">
                         <div class="halim-post-title ">
                            <p class="entry-title">Đại Thánh Vô Song</p>
                            <p class="original_title">Monkey King: The One And Only</p>
                         </div>
                      </div>
                   </a>
                </div>
             </article>
            
          </div>
          <script>
             jQuery(document).ready(function($) {				
             var owl = $('#halim_related_movies-2');
             owl.owlCarousel({loop: true,margin: 4,autoplay: true,autoplayTimeout: 4000,autoplayHoverPause: true,nav: true,navText: ['<i class="hl-down-open rotate-left"></i>', '<i class="hl-down-open rotate-right"></i>'],responsiveClass: true,responsive: {0: {items:2},480: {items:3}, 600: {items:4},1000: {items: 4}}})});
          </script>
       </div>
    </section>
 </main>
{% endblock %}