{% extends 'layout.html' %}
{% block content %}
<main id="main-contents" class="container">
   <section id="content" class="test">
      <div class="clearfix wrap-content">

         <div class="halim-movie-wrapper">
            <div class="title-block">
               <!-- <div id="bookmark" class="bookmark-img-animation primary_ribbon" data-id="38424">
                  <div class="halim-pulse-ring"></div>
               </div>
               <div class="title-wrapper" style="font-weight: bold;">
                  Bookmark
               </div> -->
            </div>
            <div class="movie_info col-xs-12">
               <div class="movie-poster col-md-3">
                  <img class="movie-thumb" src="https://image.tmdb.org/t/p/w200{{movie.posterPath}}" alt="{{movie.title}}">
                  <div class="bwa-content">
                     <div class="loader"></div>
                     <a href="#" class="bwac-btn">
                        <i class="fa fa-play"></i>
                     </a>
                  </div>
               </div>
               <div class="film-poster col-md-9">
                  <h1 class="movie-title title-1"
                     style="display:block;line-height:35px;margin-bottom: -14px;color: #ffed4d;text-transform: uppercase;font-size: 18px;">
                     {{movie.title}}</h1>
                  <h2 class="movie-title title-2" style="font-size: 12px;"></h2>
                  <ul class="list-info-group">
                     <li class="list-info-group-item"><span>Status</span> : <span class="quality">HD</span><span
                           class="episode">Vietsub</span></li>
                     <li class="list-info-group-item">
                        <span>Average rating</span> : <span class="imdb"> {{rating}}/5.0 </span>
                        <!-- Rating -->
                        {% if self_rating %}
                        Your rating/Our predict: <span class="imdb"> {{self_rating}}/{{ "%.2f"|format(pred_rating) }} </span>
                        {% endif %}
                        <button style="color: black; background: #FFC007" class="open-button" onclick="openForm()">Rate</button>
                        
                        <div id="id01" class="modal">
                           <form class="modal-content animate" action="/rate/{{movie.movieId}}" method="post">
                              <label style="margin: 10px 0 0 10px; color: black; text-shadow: none;" for="vol">Ratings</label>
                              <div style="display: flex; margin: 0 10px 0" class="slider">
                                 <input name='rating'class="in-range" type="range" min="0" max="5" value="4">
                                 <div style="color: black; text-shadow: none; margin-left: 5px" class="value">5</div>
                              </div>
                              <input class="btn-submit-rate" type="submit" onclick="alert('Thank you for ratings!')">
                           </form>
                        </div>
                        <!-- Genres -->
                     </li>
                     {% if self_rating %}
                     <li class="list-info-group-item">

                     </li>
                     {% endif %}
                     <li class="list-info-group-item">
                        <span>Genre</span> :
                        {% for genre in genres %}
                           <a href="" rel="category tag">{{genre.genre}}, </a>
                        {% endfor %}
                        </li>
                     <li class="list-info-group-item"><span>Language</span> : <a href="" rel="tag">ENGLISH</a></li>
                     <li class="list-info-group-item"><span>Director</span> : <a class="director" rel="nofollow"
                           href="https://phimhay.co/dao-dien/cate-shortland" title="James Cameron">James Cameron</a>
                     </li>
                     <li class="list-info-group-item last-item"
                        style="-overflow: hidden;-display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-flex: 1;-webkit-box-orient: vertical;">
                        <span>Actor</span> : <a href="" rel="nofollow" title="Sam Worthington">Sam Worthington</a>,
                        <a href="" rel="nofollow" title="Zoe Saldaña">Zoe Saldaña</a>, <a href="" rel="nofollow"
                           title="Stephen Lang">Stephen Lang</a>, <a href="" rel="nofollow"
                           title="Sigourney Weaver">Sigourney Weaver</a>, <a href="" rel="nofollow"
                           title="Kate Winslet">Kate Winslet</a></li>
                  </ul>
                  <div class="movie-trailer hidden"></div>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         <div id="halim_trailer"></div>
         <div class="clearfix"></div>
         <div class="section-bar clearfix">
            <h2 class="section-title"><span style="color:#ffed4d">Plot summary</span></h2>
         </div>
         <div class="entry-content htmlwrap clearfix">
            <div class="video-item halim-entry-box">
               <article id="post-38424" class="item-content">
                  Movie <a href="#">{{movie.title}}</a> - {{movie.releaseYear}}:
                  <p>{{movie.title}} &#8211; {{movie.plotSummary}}</p>
                  <h5>Tags:</h5>
                  <ul>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>

                  </ul>
               </article>
            </div>
         </div>
      </div>
   </section>
   <section class="user-rating">
      <style>
         .body-rating {
         font-family: Arial;
         margin: 0 auto; /* Center website */
         max-width: 800px; /* Max width */
         padding: 20px;
         }

         .heading {
         font-size: 25px;
         margin-right: 25px;
         }

         .fa {
         font-size: 25px;
         }

         .checked {
         color: orange;
         }

         /* Three column layout */
         .side {
         float: left;
         width: 15%;
         margin-top:10px;
         }

         .middle {
         margin-top:10px;
         float: left;
         width: 70%;
         }

         /* Place text to the right */
         .right {
         text-align: right;
         }

         /* Clear floats after the columns */
         .row:after {
         content: "";
         display: table;
         clear: both;
         }

         /* The bar container */
         .bar-container {
         width: 100%;
         background-color: #f1f1f1;
         text-align: center;
         color: white;
         }
         :root {
            --star5: {{stars[4][1]}}%;
            --star4: {{stars[3][1]}}%;
            --star3: {{stars[2][1]}}%;
            --star2: {{stars[1][1]}}%;
            --star1: {{stars[0][1]}}%;
         }
         /* Individual bars */
         .bar-5 {width: var(--star5); height: 18px; background-color: #04AA6D;}
         .bar-4 {width: var(--star4); height: 18px; background-color: #2196F3;}
         .bar-3 {width: var(--star3); height: 18px; background-color: #00bcd4;}
         .bar-2 {width: var(--star2); height: 18px; background-color: #ff9800;}
         .bar-1 {width: var(--star1); height: 18px; background-color: #f44336;}

         /* Responsive layout - make the columns stack on top of each other instead of next to each other */
         @media (max-width: 400px) {
         .side, .middle {
            width: 100%;
         }
         .right {
            display: none;
         }
         }
      </style>
      <div class="section-bar clearfix">
         <h2 class="section-title"><span style="color:#ffed4d">Đánh giá</span></h2>
      </div>
      <div class="body-rating">
         {% if rating >= 4.5 %}
            {% for i in range(5) %}
               <span class="fa fa-star checked"></span>
            {% endfor %}
         {% elif rating >= 3.5 and 4.5 > rating %}      
            {% for i in range(4) %}
               <span class="fa fa-star checked"></span>
            {% endfor %}
            <span class="fa fa-star "></span>
         {% elif rating >= 2.5 and 3.5 > rating  %}      
            {% for i in range(3) %}
               <span class="fa fa-star checked"></span>
            {% endfor %}
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
         {% elif rating >= 1.5 and 2.5 > rating  %}      
            {% for i in range(2) %}
               <span class="fa fa-star checked"></span>
            {% endfor %}
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
         {% elif rating >= 0.5 and 1.5 > rating %}      
            {% for i in range(2) %}
               <span class="fa fa-star checked"></span>
            {% endfor %}
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
         {% elif rating >= 0 and 0.5 > rating %}      
            {% for i in range(5) %}
               <span class="fa fa-star "></span>
            {% endfor %}
         {% endif %}   
            
         <p>{{rating}} average based on {{stars[5]}} reviews.</p>
         <hr style="border:3px solid #f1f1f1">
         <div class="row">
            <div class="side">
              <div>4.5 - 5 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-5"></div>
              </div>
            </div>
            <div class="side right">
              <div>{{stars[4][2]}}</div>
            </div>
            <div class="side">
              <div>3.5 - 4 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-4"></div>
              </div>
            </div>
            <div class="side right">
              <div>{{stars[3][2]}}</div>
            </div>
            <div class="side">
              <div>2.5 - 3 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-3"></div>
              </div>
            </div>
            <div class="side right">
              <div>{{stars[2][2]}}</div>
            </div>
            <div class="side">
              <div>1.5 - 2 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-2"></div>
              </div>
            </div>
            <div class="side right">
              <div>{{stars[1][2]}}</div>
            </div>
            <div class="side">
              <div>0.5 - 1 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-1"></div>
              </div>
            </div>
            <div class="side right">
              <div>{{stars[0][2]}}</div>
            </div>
          </div>
      </div>
   </section>
   <section class="related-movies">
      <div id="halim_related_movies-2xx" class="wrap-slider">
         <div class="section-bar clearfix">
            <h3 class="section-title"><span>Recommended movie by your ratings</span></h3>
         </div>
         <div id="halim_related_movies-2" class="owl-carousel owl-theme related-film">
            {% for movie in recommend_movies %}
            <article class="thumb grid-item post-38498">
               <div class="halim-item">
                  <a class="halim-thumb" href="/detail/{{ movie.movieId }}" title="{{ movie.title }}">
                     <figure><img class="lazy img-responsive"
                           src="https://image.tmdb.org/t/p/w200{{movie.posterPath}}"
                           alt="{{movie.title}}" title="{{ movie.title }}"></figure>
                     <span class="status">{{movie.mpaa | HD}}</span><span class="episode"><i class="fa fa-play"
                           aria-hidden="true"></i>{{movie.releaseYear}}</span>
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">{{ movie.title }}</p>
                           <p class="original_title">{{ movie.title }}</p>
                        </div>
                     </div>
                  </a>
               </div>
            </article>
            {% endfor %}
            <!-- <article class="thumb grid-item post-38498">
               <div class="halim-item">
                  <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                     <figure><img class="lazy img-responsive"
                           src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg"
                           alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play"
                           aria-hidden="true"></i>Vietsub</span>
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">Đại Thánh Vô Song</p>
                           <p class="original_title">Monkey King: The One And Only</p>
                        </div>
                     </div>
                  </a>
               </div>
            </article>
            <article class="thumb grid-item post-38498">
               <div class="halim-item">
                  <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                     <figure><img class="lazy img-responsive"
                           src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg"
                           alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play"
                           aria-hidden="true"></i>Vietsub</span>
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">Đại Thánh Vô Song</p>
                           <p class="original_title">Monkey King: The One And Only</p>
                        </div>
                     </div>
                  </a>
               </div>
            </article>
            <article class="thumb grid-item post-38498">
               <div class="halim-item">
                  <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                     <figure><img class="lazy img-responsive"
                           src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg"
                           alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play"
                           aria-hidden="true"></i>Vietsub</span>
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">Đại Thánh Vô Song</p>
                           <p class="original_title">Monkey King: The One And Only</p>
                        </div>
                     </div>
                  </a>
               </div>
            </article>
            <article class="thumb grid-item post-38498">
               <div class="halim-item">
                  <a class="halim-thumb" href="chitiet.html" title="Đại Thánh Vô Song">
                     <figure><img class="lazy img-responsive"
                           src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=https://1.bp.blogspot.com/-w860_-tiHFI/YO7DW5hwmNI/AAAAAAAAJqg/yFXRsVIh70oslGUKU4Fg3NxipcmCiPt3ACLcBGAsYHQ/s320/unnamed.jpg"
                           alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song"></figure>
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play"
                           aria-hidden="true"></i>Vietsub</span>
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">Đại Thánh Vô Song</p>
                           <p class="original_title">Monkey King: The One And Only</p>
                        </div>
                     </div>
                  </a>
               </div>
            </article> -->

         </div>
         <script>
            jQuery(document).ready(function ($) {
               var owl = $('#halim_related_movies-2');
               owl.owlCarousel({ loop: true, margin: 4, autoplay: true, autoplayTimeout: 4000, autoplayHoverPause: true, nav: true, navText: ['<i class="hl-down-open rotate-left"></i>', '<i class="hl-down-open rotate-right"></i>'], responsiveClass: true, responsive: { 0: { items: 2 }, 480: { items: 3 }, 600: { items: 4 }, 1000: { items: 4 } } })
            });            
            // Open rating form
            function openForm() {
               document.getElementById("id01").style.display = "block";
            }

            function closeForm() {
               document.getElementById("id01").style.display = "none";
            }

            const slider = document.querySelector(".in-range");
            const value = document.querySelector(".value");
            value.textContent = slider.value;
            slider.oninput = function () {
               value.textContent = this.value;
            }
         </script>
      </div>
   </section>
</main>
{% endblock %}