{% extends "layout.html" %}
{% block content %}
<div class="row container" id="wrapper">
   <div class="halim-panel-filter">
      <div id="ajax-filter" class="panel-collapse collapse" aria-expanded="true" role="menu">
         <div class="ajax"></div>
      </div>
   </div>
   <div class="col-xs-12 carausel-sliderWidget">
      <section id="halim-advanced-widget-4">
         <div class="section-heading">
            <a href="danhmuc.html" title="Phim Chiếu Rạp">
            <span class="h-text">Phim Chiếu Rạp</span>
            </a>
            <ul class="heading-nav pull-right hidden-xs">
               <li class="section-btn halim_ajax_get_post" data-catid="4" data-showpost="12" data-widgetid="halim-advanced-widget-4" data-layout="6col"><span data-text="Chiếu Rạp"></span></li>
            </ul>
         </div>
         
         <div id="halim-advanced-widget-4-ajax-box" class="halim_box">
            {% for movie in movies %}
               <article class="col-md-2 col-sm-4 col-xs-6 thumb grid-item post-38424">
               <div class="halim-item">
                  <a class="halim-thumb" style='overflow: hidden;' href="/detail/{{ movie.movieId }}" title="{{movie.title}}">
                     <img class="lazy img-responsive" src="https://image.tmdb.org/t/p/w200{{movie.posterPath}}" alt="{{movie.title}}" title="{{movie.title}}">
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">{{movie.title}}</p>

                        </div>
                     </div>
                  </a>
               </div>
            </article>
            {% endfor %}        
         </div>
      </section>
      <div class="clearfix"></div>
   </div>
   <main class="col-xs-12 col-sm-12 col-md-12">
      <section id="halim-advanced-widget-2">
         <div class="section-heading">
            <a href="danhmuc.html" title="Phim Lẻ">
            <span class="h-text">Mới ra mắt</span>
            </a>
         </div>
         <div id="halim-advanced-widget-4-ajax-box" class="halim_box">
            {% for movie in latest_movies %}
               <article class="col-md-2 col-sm-4 col-xs-6 thumb grid-item post-38424">
               <div class="halim-item">
                  <a class="halim-thumb" style='overflow: hidden;' href="/detail/{{ movie.movieId }}" title="{{movie.title}}">
                     <img class="lazy img-responsive" src="https://image.tmdb.org/t/p/w200{{movie.posterPath}}" alt="{{movie.title}}" title="{{movie.title}}">
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">{{movie.title}}</p>
   
                        </div>
                     </div>
                  </a>
               </div>
            </article>
            {% endfor %}
         </div>
      </section>
      <div class="clearfix"></div>

      <section id="halim-advanced-widget-2">
         <div class="section-heading">
            <a href="danhmuc.html" title="Phim Lẻ">
            <span class="h-text">Đánh giá cao</span>
            </a>
         </div>
         <div id="halim-advanced-widget-4-ajax-box" class="halim_box">
            {% for movie in top_rating_movies %}
               <article class="col-md-2 col-sm-4 col-xs-6 thumb grid-item post-38424">
               <div class="halim-item">
                  <a class="halim-thumb" style='overflow: hidden;' href="/detail/{{ movie.movieId }}" title="{{movie.title}}">
                     <img class="lazy img-responsive" src="https://image.tmdb.org/t/p/w200{{movie.posterPath}}" alt="{{movie.title}}" title="{{movie.title}}">
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">{{movie.title}}</p>
   
                        </div>
                     </div>
                  </a>
               </div>
            </article>
            {% endfor %}
         </div>
      </section>
      <div class="clearfix"></div>

      <section id="halim-advanced-widget-2">
         <div class="section-heading">
            <a href="danhmuc.html" title="Phim Lẻ">
            <span class="h-text">Phim hoạt hình</span>
            </a>
         </div>
         <div id="halim-advanced-widget-4-ajax-box" class="halim_box">
            {% for movie in cartoons %}
               <article class="col-md-2 col-sm-4 col-xs-6 thumb grid-item post-38424">
               <div class="halim-item">
                  <a class="halim-thumb" style='overflow: hidden;' href="/detail/{{ movie.movieId }}" title="{{movie.title}}">
                     <img class="lazy img-responsive" src="https://image.tmdb.org/t/p/w200{{movie.posterPath}}" alt="{{movie.title}}" title="{{movie.title}}">
                     <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span> 
                     <div class="icon_overlay"></div>
                     <div class="halim-post-title-box">
                        <div class="halim-post-title ">
                           <p class="entry-title">{{movie.title}}</p>
                        </div>
                     </div>
                  </a>
               </div>
            </article>
            {% endfor %}
         </div>
      </section>
      <div class="clearfix"></div>

   </main>
</div>
{% endblock %}