<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename="css/reset.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="css/app.css")}}>
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Form login phimmoi</title>
</head>

<body>
    <div class = "logo-login">
        <i class="fa-solid fa-camera-movie"></i>
        <p class = "logo-title">MOVIE RATINGS</p>
    </div>
   
    <div id="wrapper">
        <form action="/login" id="form-login" method="post">
            <h1 class="form-heading">LOGIN</h1>
            <div class="form-group">
                <i class="far fa-user"></i>
                <input type="text" name="username" class="form-input" placeholder="USERNAME">
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i>
                <input type="password" name="password" class="form-input" placeholder="PASSWORD">
                <div id="eye">
                    <i class="far fa-eye"></i>
                </div>
            </div>
            <input type="submit" value="Đăng nhập" class="form-submit">
        </form>
    </div>
    
</body>
<script src={{url_for('static', filename="js/jquery.min.js")}}></script>
<script src={{url_for('static', filename="js/app.js")}}></script>
</html>
